.container {
    display: grid;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 1.3fr 1.1fr 1.7fr 1.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "center center center"
      "center center center"
      "center center center"
      "center center center"
  }
  
  .center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 0.2fr 0.4fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "body body body"
      "pb pb pb"
      "body3 body3 body3"
      "pb2 pb2 pb2"
      "footer footer footer";
    grid-area: center;
  }
  
  .header { grid-area: header; }
  
  .body { 
    grid-area: body;
    text-align: center;
  }
  
  .pb {
    display: grid;
    grid-template-columns: 3fr 0.5fr 6fr 2fr;
    grid-template-rows: 3fr 3fr 3fr 3fr;
    gap: 0px 0px;
    padding-left: 200px;
    grid-auto-flow: row;
    grid-template-areas:
      "pic pic body2 body2"
      "pic pic body2 body2"
      "pic pic body2 body2";
    grid-area: pb;
  }
  
  .pic { 
    grid-area: pic;
    height: 75%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    width: 92%;
  }

  .pic img {
    height: 70%;
    max-width: auto;
  }

  #one {
    color:white;
    padding-left: 20px;
  }

  h5 {
    color:white;
    font-size: 15px;
    text-align: center;
  }
  
  .body2 { 
    grid-area: body2;
    border: 1px white;
    font-size: 13px;
    padding-right: 200px;
    border-radius: 5px;
    padding: 15px;
    height: 75%;
    width: 60%;
    background-color: blue;
  }
  
  .body3 { 
    grid-area: body3;
    text-align: center;
  }
  
  .pb2 {
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 5fr;
    grid-template-rows: 3fr 3fr 3fr 3fr;
    gap: 0px 0px;
    padding-left: 200px;
    margin-bottom: -400px;
    grid-auto-flow: row;
    grid-template-areas:
      "pic2 pic2 body4 body4"
      "pic2 pic2 body4 body4"
      "pic2 pic2 body4 body4";
    grid-area: pb2;
  }
  
  .pic2 { 
    grid-area: pic2;
    border: 1px solid white;
    border-radius: 5px;
    height: 78%;
    padding-left: 100px;
    width: 91.5%; 
  }

  .pic2 img {
    height: 75%;
    width: 75%;
    padding-top: 90px;
  }
  
  .body4 { 
    grid-area: body4;
    border: 1px white;
    font-size: 13px;
    border-radius: 5px;
    width: 75%;
    height: 75%;
    padding: 9px;
    background-color: blue;
  }
  
  .footer {
      display: grid; 
      grid-template-columns: 2fr 0.5fr 2fr; 
      grid-template-rows: 1fr 1fr 1fr; 
      gap: 10px 5px;
      height: 350px;
      margin-top: 400px;
      grid-template-areas: 
        "body5 body5 body5"
        "get empty chat"
        "free manage cancel";
      background-color: blue;
      grid-area: footer; 
    }
  

  .empty {
    width: 1px;
  }

  .body5 { 
    grid-area: body5;
    text-align: center;
  } 
  
  .button {
    background-color:greenyellow;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    text-align: center;
  }

  .button2 {
    background-color:white;
    color: blue;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    text-align: center;
  }

  .arrow {
    transition: .5s;
    transform: rotate(-135deg);
    cursor: pointer;
    box-shadow: -2px 2px 0 white;
    margin-left: 30px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.arrow2 {
  transition: .5s;
  transform: rotate(-135deg);
  cursor: pointer;
  box-shadow: -2px 2px 0 white;
  margin-left: 2px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

  .get { 
    grid-area: get;
    text-align: center;
    padding-left: 350px; 
  }

  .chat { 
    grid-area: chat;
    text-align: center;
    padding-right: 350px; 
  }

  .free { 
    grid-area: free;
    display: flex;
    padding-left: 480px;
    padding-top: 19.5px;
    height: 25px;
    width: 20%; 
  }

  .free img {
    margin: 5px;
    height: 72%;
  }

  
  .manage { 
    grid-area: manage;
    display: flex;
    padding-top: 25px;
    height: 25px;
    width: 20%;  
  }

  .manage img {
    height: 72%;
  }

  .cancel { 
    grid-area: cancel;
    display: flex;
    padding: 20px;
    height: 25px;
    width: 20%;  
  }

  .cancel img {
    margin: 5px;
    height: 75%;
  }

  i {
    margin-right: 10px;
  }
  
  